.header-container {
    padding: 0px;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color-sec);
    width: 100%;
    border-radius: 10px;
    border: solid var(--border) !important;
    border-width: 1px !important;
}

.header-container__row {
    height: inherit;
    max-height: inherit;
}

.header-container__row button {
    background-color: var(--cadet-blue);
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    margin: 5px;
}

.header-container__artist {
    font-size: 20px;
    margin: auto;
    width: 100%;
    cursor: pointer;
    margin-top: 0px !important;
}

.header-container__followers {
    font-size: 15px;
    margin: auto;
    width: 100%;
    text-align: right;
    padding: 10px;
}

.header__artist__image {
    height: 90%;
    border-radius: 50%;
    max-height: 120px;
    padding: 15px;
}

@media screen and (min-width: 990px) {
    .header__artist__image {
        max-height: 180px;
    }
}

.albums-container {
    padding: 0px;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color-sec);
    width: 100%;
    border-radius: 10px;
    border: solid var(--border) !important;
    border-width: 1px !important;
}

h3,
h4 {
    color: var(--text-color);
    padding-left: 5% !important;
    padding: 5px;
    width: 100%;
    border: solid var(--border) !important;
    border-width: 0px 0px 1px 0px !important;
}

@media screen and (min-width: 990px) {
    .header-container__artist {
        font-size: 30px;
    }
    .header-container__followers {
        font-size: 25px;
    }
}