.like-button {
    cursor: pointer;
    color: var(--cadet-blue);
}

.like-button:hover,
.like-button:active,
.like-button:focus {
    transform: scale(1.2, 1.2);
}

.artist-link {
    opacity: 0.4;
}

.artist-link__name:hover,
.artist-link__name:active,
.artist-link__name:focus {
    opacity: 0.8 !important;
    cursor: pointer;
}