:root {
    --elderberry: #101520;
    --dark-blue: #101220;
    --white: #fafafa;
    --dirty-white: #fafafa;
    --cadet-blue: #5f9ea0;
    --black: #000018;
}

body.light {
    --background-color-main: var(--white);
    --background-color-sec: var(--dirty-white);
    --text-color: var(--black);
    --border: rgba(0, 0, 24, 0.2);
}

body.dark {
    --background-color-main: var(--elderberry);
    --background-color-sec: var(--dark-blue);
    --text-color: var(--dirty-white);
    --border: rgba(250, 250, 250, 0.2);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color-main) !important;
    color: var(--text-color);
}

.app {
    height: 100vh;
    width: 100wh;
    background: var(--background-color-main) !important;
    color: var(--text-color) !important;
    transition: background-color 1.5s ease-in-out !important;
}

.center-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.increase-hover:hover,
.increase-hover:active,
.increase-hover:focus {
    transform: scale(1.05, 1.05);
}